/* Common styles*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
  color: #363636;
  background-color: white;
  margin: 0;
  text-transform: none;
  font-size: 1em;
  line-height: 1.4;
  font-weight: normal;
}

@media screen and (max-width: 767px) {
  body {
    overflow-x: hidden;
  }
}

.wrapper {
  display: flex;
  min-height: 100%;
  overflow: hidden;
  flex-direction: column;
}

.header .container {
  max-width: 1320px;
}

.container {
  margin: 0 auto;
  max-width: 1236px;
  padding: 0 32px;
}

@media screen and (max-width: 767px) {
  .container,
  .header .container {
    max-width: none;
    padding: 0 18px;
  }
}

.header-navigation__item:hover,
.logo,
.city,
.header-navigation__item.active {
  color: #e3b873;
}

.header,
.projects {
  background-color: #131313;
}

/* Style of button */

button {
  background: #e3b873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
  border-radius: 2px;
  border: 1px solid transparent;
  font-family: inherit;
  font-style: italic;
  font-size: 0.55em;
  line-height: inherit;
  cursor: pointer;
  width: 200px;
  height: 51px;
}

button:hover,
button.active {
  background: rgba(0, 0, 0, 0);
  border: 1px solid #ffffff;
  box-shadow: none;
}

.title,
.projects-list,
button,
.container.navigation {
  text-transform: uppercase;
}

.title,
.projects-list {
  font-family: "Yeseva One", "Times New Roman", Times, serif;
}

.title,
.paragraph {
  font-weight: inherit;
}

h3 {
  font-size: 0.9em;
}

button,
a {
  color: inherit;
}

a {
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
}

.header-navigation,
.projects-list {
  list-style: none;
  display: flex;
  padding: 0;
}

header,
.projects {
  color: white;
}

/* Block header */

.container.navigation {
  display: flex;
  justify-content: space-between;
  height: 83px;
  align-items: center;
  font-size: 0.55em;
}

@media screen and (max-width: 767px) {
  .header .container {
    height: 57px;
  }
}

.header-block button {
  width: 207px;
}

.calculate {
  margin-right: 1.3em;
}

.request {
  width: 161px;
  height: 37px;
  font-size: 1em;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
}

@media screen and (max-width: 767px) {
  .header-block button {
    width: 100%;
  }

  .submit {
    margin-top: 1em;
  }

  .request {
    margin-left: 2em;
  }
}

.header-navigation__item:not(:last-child) {
  margin-right: 4.28em;
}

.contacts-phone .header-navigation__link {
  text-decoration: underline;
  margin-right: 4.1em;
  color: #e3b873;
}

@media screen and (max-width: 767px) {
  .contacts-phone .header-navigation__link {
    color: white;
    text-decoration: none;
    margin-right: 0;
  }

  .header-navigation {
    display: none;
  }
}

.contacts {
  display: flex;
  align-items: center;
}

.header-block {
  height: 707px;
}

.header-block-background {
  background: url(/images/background.png) no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 707px;
}

@media screen and (max-width: 767px) {
  .header-block-background {
    background: url(/images/backgroundmobile.png) no-repeat;
    height: 476px;
    background-position: center;
    background-size: cover;
  }

  .header-block {
    height: 476px;
  }
}

.header-block .container {
  position: relative;
  z-index: 2;
  padding-top: 194px;
  margin-left: 102px;
}

.container-overlay {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 707px;
  background-color: rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 767px) {
  .header-block .container {
    padding-top: 85px;
    margin: 0;
  }

  .container-overlay {
    height: 476px;
  }
}

h1 {
  line-height: 1.325;
}

h1 ~ .paragraph {
  font-size: 1.1em;
  line-height: 1.64;
  padding-top: 0.7em;
  padding-bottom: 1.15em;
}

@media screen and (max-width: 767px) {
  h1 ~ .paragraph {
    font-size: 0.7em;
    line-height: 135.84%;
    padding-top: 1.15em;
    padding-bottom: 3.7em;
  }

  h1 {
    font-size: 1.15em;
  }
}

/* Блок Сompleted Projects */

.projects .container {
  display: flex;
  padding-top: 5.35em;
  padding-bottom: 2rem;
}

.size-font {
  font-size: 1.3em;
}

.projects-block__left {
  padding-top: 3.45em;
}

.projects-block__right {
  margin-left: 2.5em;
}

.projects-list {
  font-size: 0.7em;
  color: rgba(255, 255, 255, 0.3);
  margin: 0;
}

.projects-list__item {
  margin-right: 4.32em;
}

.projects-list__link:hover,
.projects-list__link.active {
  color: #e3b873;
  border-bottom: 1px solid #e3b873;
  padding-bottom: 0.5em;
  cursor: pointer;
}

.projects-images {
  margin-top: 50px;
  height: 482px;
}

.completed-projects {
  font-size: 1.35em;
  letter-spacing: -0.07em;
  color: #e3b873;
}

.completed-projects ~ .paragraph {
  font-size: 0.7em;
  line-height: 1.93;
  margin-top: 2.5em;
  margin-bottom: 3em;
}

  .completed-projects {
    font-size: 1.1em;
    line-height: 138.6%;
  }

 .sliderNavigation {
    justify-content: space-between;
    position: relative;
    top: -23%;
    margin-right: 0.65em;
    margin-left: 0.65em;
    display: flex;
  }

.feature-title {
  margin-top: 0;
  margin-bottom: 0;
  color: #e3b873;
}

.feature-title ~ .paragraph {
  font-size: 0.65em;
  line-height: 1.62;
  margin-top: 0.7em;
}

.paragraph.style {
  margin-top: 0;
}

.projects-block__left--features {
  display: grid;
  grid-template-columns: auto auto;
  grid-row-gap: 34px;
}

/* Слайдер в Completed projects */

.carousel {
  display: flex;
  margin-top: 75px;
  height: 13px;
  align-items: center;
}

.carousel div {
  display: flex;
  cursor: pointer;
}

.dots-links {
  width: 63.78px;
  display: flex;
  justify-content: space-between;
  margin-right: 29.5px;
  margin-left: 29.5px;
}

.carousel-dots {
  height: 9.57px;
  width: 9.57px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 30px;
}

.carousel-dots.active {
  background-color: #ffffff;
}
